<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<input id="title" placeholder="أدخل اسم المنتج">
<button onclick="go()">انتقال</button>

<script>
function go() {
    const title = document.getElementById("title").value;
    if (!title) {
        alert("أدخل قيمة");
        return;
    }

    window.location.href =
        `/work_shift?title=${encodeURIComponent(title)}`;
}
</script>

</body>
</html>